body {
    vertical-align:middle;
    text-align:center;
    background-color:rgb(133, 227, 255);
}

.grid-container {
    border-radius:5px;
    border-color: black;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;



  }

  .grid-item {
    border-radius: 5px;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    width:20px;
    height:20px;
    background-color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
  } 

  .grid-item:hover {
    cursor:pointer; 
  }
