body {
    vertical-align:middle;
    text-align:center;
}

.grid-container {
  border-radius:5px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 10px;
    justify-content: center;  


  }

  .grid-item {

    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } 

  .grid-item:hover {
    cursor:pointer; 
  }
